.Rankings {
    /* width: 75%; */
    display: flex;
    justify-content: center;
}

.heading {
    display: flex;
    justify-content: start;
    /* width: 80%; */
    font-size: 20px;
    padding: 5px;
    margin-bottom: 15px;
    margin-left: 150px;
}

.ButtonContain {
    display: flex;
    justify-content: center;
}